._index_root {
  max-width: 768px;
  text-align: center;
  margin-top: 20px;
}

._post_preview {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  margin-bottom: 20px;
  min-height: 300px;
}

._post_preview ._cover {
  background: #202020;
  min-width: 320px;
  min-height: 240px;
  max-width: 768px;
}

._post_preview ._cover img {
  opacity: .5;
}

._post_preview ._header {
  position: absolute;
  top: 50%;
  -moz-transform: translate(0%,-50%);
  -ms-transform: translate(0%,-50%);
  -o-transform: translate(0%,-50%);
  -webkit-transform: translate(0%,-50%);
  transform: translate(0%,-50%);
  left: 0;
  min-width: 320px;
  padding: 10px;
  margin: 0;
  width: 100%;
}

._post_preview ._title {
  color: #DDD;
}

._post_preview ._excerpt {
  color: #DDD;
}
