#collapsetagshtml, body {
  overflow-x: hidden;
}

body {
  min-width: 320px;
}

._content {
  padding-top: 40px;
  padding-bottom: 40px;
  max-width: 768px;
}

nav {
  position: fixed;
  z-index: 9999;
  width: 100%;
  min-width: 320px;
  font-family: Menlo,Monaco,Consolas,"Courier New",monospace;
}

nav ul {
  margin-left: 10px;
  margin-right: 10px;
}

nav li._brand {
  float: left;
  font-weight: bold;
}

nav li {
  float: right;
  margin-top: 10px;
  margin-bottom: 10px;
  background-color: rgba(255, 255, 255, 0.7);
}

nav li a,
nav li a a:hover,
nav li a a:focus {
  padding: 10px;
  text-decoration: none;
  color: #666;
}

nav ._tags {
  position: fixed;
  left: 0px;
  bottom: 0px;
}

nav ._tag a {
  padding: 0;
}

nav ._tags ._tag {
  display: none;
}

nav ._tags li {
  margin: 0 4px;
  float: left;
}

#without-tags {
  display: none;
}

#with-tags:target + #without-tags {
  display: inline;
}

#with-tags:target {
  display: none;
}

#with-tags li {
  opacity: 0.3;
}

#tags-header {
  display: none;
}

nav #with-tags:target ~ li ._tag {
  display: inline;
}

@media(min-width:1100px) {
  nav {
    float: left;
    top: 70px;
    width: 12.5%;
    min-width: 140px;
    background: none;
  }

  nav li,
  nav li._brand {
    float: none;
    text-align: right;
  }

  nav ._tags li {
    margin: 0;
    float: none;
    opacity: 1;
  }

  nav ._tags {
    position: relative;
    margin-top: 60px;
    padding-right: 10px;
  }

  nav ._tags ._tag {
    display: inline;
  }

  nav ._tag a {
    padding: 0;
  }

  #without-tags,
  #with-tags,
  #with-tags:target + #without-tags,
  #with-tags:target {
    display: none;
  }

  #tags-header {
    display: block;
  }
}
