:root {
  --post-max-text-width: 640px;
}

._post_root {
  color: #666;
  max-width: 768px;
  margin-left: auto;
  margin-right: auto;
}

._post_root p,
._post_root ul,
._post_root ol,
._post_root figure,
._post_root h1,
._post_root h2,
._post_root h3,
._post_root h4,
._post_root h5,
._post_root h6 {
  max-width: var(--post-max-text-width);
  margin-left: auto;
  margin-right: auto;
  width: 90%;
}

._post_root ul,
._post_root ol {
  padding-left: 30px;
}

@media(max-width: 680px) {
  ._post_root p,
  ._post_root ul,
  ._post_root ol,
  ._post_root figure,
  ._post_root h1,
  ._post_root h2,
  ._post_root h3,
  ._post_root h4,
  ._post_root h5,
  ._post_root h6 {
    margin-left: 20px;
    margin-right: 20px;
    width: 90%;
  }
}

._post_root ._img-container {
  margin-bottom: 10px;
}

._post_root ._date {
  margin-top: 20px;
}

._post_root > figure {
  max-width: var(--post-max-text-width);
  margin-left: auto;
  margin-right: auto;
}
