<%- css('css/nav.css') %>
<nav>
  <ul class="list-unstyled">
    <li class="_brand"><%- link_to('/', 'hnery') %></li>
    <li><%- link_to('/archives', 'Archives') %></li>
    <li><%- link_to('/about', 'About') %></li>
  </ul>
</nav>
